$en: "Poiret One";
$baseColor: "";
$subColor: rgba(219, 240, 254, 0.8);
$accentColor1: #1150a5;
$accentColor2: #01042a;
$accentColor3: #f97101;
$accentColor4: #f9b882;
$textColor: #1b1b1b;
$breakPoint: 800px;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.7;
  color: $textColor;
  @media (min-width: $breakPoint) {
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
  display: block;
  outline: none;
  &:focus {
    border: none;
  }
}

section,
footer {
  width: 100%;
  margin: 0 5% 0 auto;
  padding: 4em 2em 5em;
  background-color: $subColor;
  @media (min-width: $breakPoint) {
    max-width: 60rem;
    width: 58%;
  }
}

img {
  max-width: 100%;
  display: block;
}

.uppercase {
  font-family: $en;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 2.5rem;

  .uppercase {
    display: block;
    font-size: 4rem;
    line-height: 1;
    color: $accentColor1;
    @media (min-width: $breakPoint) {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}

.flex {
  @media (min-width: $breakPoint) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.bg {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-big {
  font-size: 1.2em;
}

.frame {
  border: 5px solid #fff;
  box-shadow: 2px 0 10px 2px rgba(0, 0, 0, 0.2);
}
